html{
    background-color: cyan;
}

h1 {
    text-align: center;
    color:coral;
    text-shadow: 6px black;
    text-size-adjust: 160%;
}
.box-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
.box-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.box-form input[type="text"],
.box-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.box-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.box-form button:hover {
    background-color: #2980b9;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    height: 500px;
}