<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Serveur avec python</title>
        <link rel="stylesheet" href="/static/le peigne de timéo.css">
    </head>
    <body>
        <h1>Bienvenue sur une page qui parle de !</h1>
        <div class="box-form">
            <h2>Veuillez vous connectez pour recevoir plus d'informations :</h2>
            <form method="POST" action="/login">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required >

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required >

                <button type="submit">Se connecter</button>
            </form>
        </div>
    </body>









</html>